In [1]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

In [2]:
# Display data types and non-null counts for each column
print("Data types and non-null counts:")
print(df.info())

# Display the count of missing values for each column
print("\nMissing values for each column:")
print(df.isnull().sum())

# Display summary statistics for numerical columns
print("\nSummary statistics for numerical columns:")
print(df.describe())

Data types and non-null counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB
None

Missing values for each column:
ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

Summary statistics for numerical columns:
         ResponseId      CompTotal       WorkExp  JobSatPoints_1  \
count  65437.000000   3.374000e+04  29658.000000    29324.000000
mean   32719.000000  2.963841e+145     11.466957       18.581094
std    18890.179119  5.444117e+147      9.168709       25.966221
min        1.000000   0.000000e+00      0.000000        0.000000
25%    16360.000000   6.000000e+04      4.000000        0.000000
50%    32719.000000   1.100000e+05      9.000000       10.000000
75%    49078.000000   2.500000e+05     16.000000       22.000000
max    65437.000000  1.000000e+150     50.000000      100.000000

       JobSatPoints_4  JobSatPoints_5  JobSatPoints_6  JobSatPoints_7  \
count    29393.000000    29411.000000    29450.000000     29448.00000
mean         7.522140       10.060857       24.343232        22.96522
std         18.422661       21.833836       27.089360        27.01774
min          0.000000        0.000000        0.000000         0.00000
25%          0.000000        0.000000        0.000000         0.00000
50%          0.000000        0.000000       20.000000        15.00000
75%          5.000000       10.000000       30.000000        30.00000
max        100.000000      100.000000      100.000000       100.00000

       JobSatPoints_8  JobSatPoints_9  JobSatPoints_10  JobSatPoints_11  \
count    29456.000000    29456.000000     29450.000000     29445.000000
mean        20.278165       16.169432        10.955713         9.953948
std         26.108110       24.845032        22.906263        21.775652
min          0.000000        0.000000         0.000000         0.000000
25%          0.000000        0.000000         0.000000         0.000000
50%         10.000000        5.000000         0.000000         0.000000
75%         25.000000       20.000000        10.000000        10.000000
max        100.000000      100.000000       100.000000       100.000000

       ConvertedCompYearly        JobSat
count         2.343500e+04  29126.000000
mean          8.615529e+04      6.935041
std           1.867570e+05      2.088259
min           1.000000e+00      0.000000
25%           3.271200e+04      6.000000
50%           6.500000e+04      7.000000
75%           1.079715e+05      8.000000
max           1.625660e+07     10.000000

In [4]:
# Identify unique values in the 'Country' column to find inconsistencies or irrelevant entries
unique_countries = df['Country'].unique()

# Display the unique values
print(unique_countries)

# Check for missing values in 'Country' column
missing_values = df['Country'].isnull().sum()

print(f"Number of missing values in 'Country': {missing_values}")

# Check for any potentially irrelevant or inconsistent entries by counting frequency of each unique value
country_counts = df['Country'].value_counts()

print(country_counts)

['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']
Number of missing values in 'Country': 6507
Country
United States of America                                11095
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
Ukraine                                                  2672
                                                        ...
Central African Republic                                    1
Equatorial Guinea                                           1
Niger                                                       1
Guinea                                                      1
Solomon Islands                                             1
Name: count, Length: 185, dtype: int64

In [5]:
# Define a mapping for 'Country' column to standardize entries
country_mapping = {
    'USA': 'United States',
    'United States of America': 'United States',
    'UK': 'United Kingdom',
    'England': 'United Kingdom',
    'Canada ': 'Canada',  # Note extra space that may exist
    # Add more mappings based on your dataset
}

# Apply the mapping to the 'Country' column
df['Country'] = df['Country'].replace(country_mapping)

# Define a mapping for 'EdLevel' column to standardize entries
edlevel_mapping = {
    'Bachelor’s degree (B.A., B.S., B.Eng., etc.)': 'Bachelors',
    'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)': 'Masters',
    'Doctoral degree (Ph.D., M.D., etc.)': 'Doctorate',
    'Secondary school (e.g. American high school, German Realschule, etc.)': 'High School',
    'Primary/elementary school': 'Primary School',
    # Add more mappings based on your dataset
}

# Apply the mapping to the 'EdLevel' column
df['EdLevel'] = df['EdLevel'].replace(edlevel_mapping)

# Display the standardized columns to verify the changes
print(df[['Country', 'EdLevel']].head())

                                             Country  \
0                                      United States
1  United Kingdom of Great Britain and Northern I...
2  United Kingdom of Great Britain and Northern I...
3                                             Canada
4                                             Norway

                                             EdLevel
0                                     Primary School
1                                          Bachelors
2                                            Masters
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

In [6]:
# Perform one-hot encoding on the 'Employment' column
df_encoded = pd.get_dummies(df, columns=['Employment'], drop_first=False)

# Display the first few rows to verify the encoding
print(df_encoded.head())

   ResponseId                      MainBranch                 Age RemoteWork  \
0           1  I am a developer by profession  Under 18 years old     Remote
1           2  I am a developer by profession     35-44 years old     Remote
2           3  I am a developer by profession     45-54 years old     Remote
3           4           I am learning to code     18-24 years old        NaN
4           5  I am a developer by profession     18-24 years old        NaN

    Check                                   CodingActivities  \
0  Apples                                              Hobby
1  Apples  Hobby;Contribute to open-source projects;Other...
2  Apples  Hobby;Contribute to open-source projects;Other...
3  Apples                                                NaN
4  Apples                                                NaN

                                             EdLevel  \
0                                     Primary School
1                                          Bachelors
2                                            Masters
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  \
0                                                NaN
1  Technical documentation;Blogs;Books;Written Tu...
2  Technical documentation;Blogs;Books;Written Tu...
3  Stack Overflow;How-to videos;Interactive tutorial
4  Technical documentation;Blogs;Written Tutorial...

                                             TechDoc  ...  \
0                                                NaN  ...
1  API document(s) and/or SDK document(s);User gu...  ...
2  API document(s) and/or SDK document(s);User gu...  ...
3                                                NaN  ...
4  API document(s) and/or SDK document(s);User gu...  ...

  Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Retired  \
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

  Employment_Student, full-time;Student, part-time  \
0                                            False
1                                            False
2                                            False
3                                            False
4                                            False

  Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Student, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, part-time  \
0                         False
1                         False
2                         False
3                         False
4                         False

  Employment_Student, part-time;Employed, part-time  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False

  Employment_Student, part-time;Retired
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

[5 rows x 223 columns]

In [7]:
# Identify columns with the highest number of missing values
missing_values = df.isnull().sum()

# Sort columns by the number of missing values in descending order
missing_values_sorted = missing_values.sort_values(ascending=False)

# Display the top 10 columns with the highest number of missing values
print(missing_values_sorted.head(10))

AINextMuch less integrated       64289
AINextLess integrated            63082
AINextNo change                  52939
AINextMuch more integrated       51999
EmbeddedAdmired                  48704
EmbeddedWantToWorkWith           47837
EmbeddedHaveWorkedWith           43223
ConvertedCompYearly              42002
AIToolNot interested in Using    41023
AINextMore integrated            41009
dtype: int64

In [9]:
# Impute missing values in the ConvertedCompYearly column with the mean
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].mean())

# Verify if there are still missing values in the column
print(df['ConvertedCompYearly'].isnull().sum())

0

In [10]:
# Identify the most frequent value in the 'RemoteWork' column
most_frequent_remote_work = df['RemoteWork'].mode()[0]

# Impute missing values in the 'RemoteWork' column with the most frequent value
df['RemoteWork'] = df['RemoteWork'].fillna(most_frequent_remote_work)

# Verify if there are still missing values in the 'RemoteWork' column
print(df['RemoteWork'].isnull().sum())

0

In [11]:
# Import MinMaxScaler from scikit-learn
from sklearn.preprocessing import MinMaxScaler

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Apply Min-Max scaling to the 'ConvertedCompYearly' column
df['ConvertedCompYearly_MinMax'] = scaler.fit_transform(df[['ConvertedCompYearly']])

# Display the first few rows to check the normalized values
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_MinMax']].head())

   ConvertedCompYearly  ConvertedCompYearly_MinMax
0         86155.287263                      0.0053
1         86155.287263                      0.0053
2         86155.287263                      0.0053
3         86155.287263                      0.0053
4         86155.287263                      0.0053

In [13]:
# Import numpy for log transformation
import numpy as np

# Apply log transformation to the 'ConvertedCompYearly' column
# We add a small value (1) to avoid taking the log of zero
df['ConvertedCompYearly_Log'] = np.log(df['ConvertedCompYearly'] + 1)

# Display the first few rows to check the log-transformed values
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_Log']].head())

   ConvertedCompYearly  ConvertedCompYearly_Log
0         86155.287263                11.363918
1         86155.287263                11.363918
2         86155.287263                11.363918
3         86155.287263                11.363918
4         86155.287263                11.363918

In [15]:
# Convert 'YearsCodePro' to numeric, forcing errors to NaN
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')

# Define a function to categorize experience level based on YearsCodePro
def categorize_experience(years):
    if pd.isna(years):  # Handle NaN values
        return 'Unknown'
    elif years < 1:
        return 'Beginner'
    elif 1 <= years < 3:
        return 'Junior'
    elif 3 <= years < 5:
        return 'Mid-level'
    elif 5 <= years < 10:
        return 'Senior'
    else:
        return 'Expert'

# Apply the function to the 'YearsCodePro' column to create the 'ExperienceLevel' column
df['ExperienceLevel'] = df['YearsCodePro'].apply(lambda x: categorize_experience(x))

# Display the first few rows to verify the new column
print(df[['YearsCodePro', 'ExperienceLevel']].head())

   YearsCodePro ExperienceLevel
0           NaN         Unknown
1          17.0          Expert
2          27.0          Expert
3           NaN         Unknown
4           NaN         Unknown